<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eldercare.system.mapper.NursingItemRecordMapper">

    <select id="selectByCustomerId" resultType="com.eldercare.system.entity.NursingItemRecord">
        select *
        from nursing_item_record
        where customer_id = #{customerId}
        and del_flag = '0'
        order by nursing_item_record_id
    </select>

    <update id="removeByCustomerId">
        update nursing_item_record
        set del_flag = '1'
        where customer_id = #{customerId}
        and del_flag = '0'
    </update>
    <update id="removeById">
        update nursing_item_record n
        set n.del_flag = '1'
        where n.nursing_item_record_id = #{id}
        and n.del_flag = '0'
    </update>
    <update id="updateTimes">
        update nursing_item_record n
        set n.executed_times = n.executed_times + #{times}
        where n.nursing_item_name = #{name}
        and n.customer_id = #{customerId}
        and n.del_flag = '0'
    </update>
    <update id="updateTimesByRecordId">
        update nursing_item_record n
        set n.executed_times = n.executed_times + #{times}
        where n.nursing_item_record_id = #{id}
        and n.executed_times + #{times} &lt;= n.execution_times * n.purchasing_times
        and n.del_flag = '0'
    </update>
</mapper>
